.award--title {
    img {
        margin: 30px auto;
        display: block;
        height: 30px;

        @media (min-width: 768px) {
            height: 50px;
        }

        @media (min-width: 1200px) {
            height: unset;
            margin: 50px auto;
            &:hover {
                transform: scale(1.1);
                filter: drop-shadow(10px 10px 10px rgba(245, 166, 35, 0.4));
            }
        }
    }
}

@media (min-width: 768px) {
}

@media (min-width: 1200px) {
}

.container-award {
    margin: auto;
    background-color: $background;
    background-image: url("/img/background award.png");
    background-repeat: repeat-y;
    background-position: top center;
    background-size: contain;

    @media (min-width: 1200px) {
        background-repeat: no-repeat;
        background-position: center;
    }

    .award {
        width: 100%;
        margin: 40px auto;
        position: relative;

        @media (min-width: 768px) {
            width: 500px;
            margin: 50px auto;
        }

        .award__img {
            img {
                width: 100%;
            }
        }

        .award__info {
            position: absolute;

            &--rank {
                font-size: 15px;
                font-weight: 600;
                color: $yellow_orange;
                text-shadow: 0px 0px 6px #f5a623;

                @media (min-width: 768px) {
                    font-size: 24px;
                }

                @media (min-width: 1200px) {
                    font-size: 30px;
                }
            }

            &--detail {
                font-size: 13px;
                font-weight: 500;
                margin-top: 10px;

                @media (min-width: 768px) {
                    font-size: 18px;
                }

                @media (min-width: 1200px) {
                    font-size: 20px;
                }

                img {
                    transform: scale(0.7);
                    margin-right: 1px;

                    @media (min-width: 768px) {
                        transform: scale(0.8);
                        margin-right: 3px;
                    }

                    @media (min-width: 1200px) {
                        transform: scale(1);
                        margin-right: 5px;
                    }
                }
            }

            &--money {
                font-size: 15px;
                font-weight: 600;
                color: $yellow_orange;

                @media (min-width: 768px) {
                    font-size: 24px;
                }

                @media (min-width: 1200px) {
                    font-size: 30px;
                }
            }
        }
    }

    .award:nth-child(2) {
        width: 100%;

        @media (min-width: 768px) {
            width: 500px;
        }

        @media (min-width: 1200px) {
            width: 500px;
        }

        .award__img {
            width: 100%;

            @media (min-width: 768px) {
                width: 500px;
            }
        }
        .award__info {
            top: -25px;
            left: 100px;

            @media (min-width: 768px) {
                top: -35px;
                left: 125px;
            }
        }
    }

    .award:nth-child(4) {
        .award__info {
            top: -25px;
            left: 100px;

            @media (min-width: 768px) {
                top: -35px;
                left: 125px;
            }
        }
    }

    .award:nth-child(5) {
        .award__info {
            top: -20px;
            left: 30px;

            @media (min-width: 768px) {
                top: -35px;
                left: 35px;
            }
        }
    }

    .award:nth-child(6) {
        .award__info {
            top: -35px;
            left: 100px;

            @media (min-width: 768px) {
                top: -50px;
                left: 125px;
            }
        }

        .award__info--rank {
            color: #82d1e1;
            text-shadow: 0px 0px 6px #82d1e1;
        }
    }

    .award:nth-child(7) {
        .award__info {
            top: -35px;
            left: 30px;

            @media (min-width: 768px) {
                top: -50px;
                left: 35px;
            }
        }
        .award__info--rank {
            color: #82d1e1;
            text-shadow: 0px 0px 6px #82d1e1;
        }
    }
}
