.container-footer {
    position: relative;
    max-width: 1440px;
    margin: 50px 0;

    .footer__background {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
    }

    .footer__contact--title,
    .footer__media--title {
        margin-bottom: 20px;
        font-size: 25px;
        font-weight: 600;
    }

    a {
        margin-left: 14px;
        font-size: 17px;
        font-weight: 600;
        text-decoration: none;
        color: #fff;

        &:hover {
            color: #fff;
            opacity: 0.8;
        }
    }

    .footer__contact {
        position: absolute;
        top: 55px;
        left: 170px;

        &--phone {
            display: flex;
            align-items: center;
            margin: 10px 0;

            .circle-icon {
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: #fff;
                border-radius: 50%;
                width: 25px;
                height: 25px;

                i {
                    font-size: 15px;
                    color: $background;
                }
            }
        }
    }

    .footer__media {
        position: absolute;
        top: 55px;
        right: 140px;

        &--link {
            display: flex;
            align-items: center;
            margin: 10px 0;

            i {
                font-size: 25px;
                color: #fff;
            }
        }
    }
}
