#intro {
    margin-top: 180px;
    position: relative;

    @media (min-width: 768px) {
        margin-top: 370px;
    }

    @media (min-width: 1200px) {
        margin-top: 700px;
    }
}
.container-intro {
    margin: auto;
    max-width: 860px;
    font-size: 25px;
    font-weight: 400;

    .intro__title {
        img {
            margin: 30px auto;
            display: block;
            height: 30px;

            @media (min-width: 768px) {
                height: 50px;
            }
            
            @media (min-width: 1200px) {
                height: unset;
                margin: 50px auto;
            }
        }
    }
    .intro__content {
        padding: 15px;
        margin: 0 25px;
        border-radius: 15px;
        background: $background;
        background-clip: padding-box;
        border: 2px dashed transparent;
        position: relative;
        font-size: 12px;

        @media (min-width: 768px) {
            font-size: 18px;
            padding: 20px;
            border: 3px dashed transparent;
        }
        
        @media (min-width: 1200px) {
            font-size: 25px;
            padding: 30px;
        }

        &:before {
            content: "";
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            z-index: -1;
            margin: -2px;
            border-radius: inherit;
            background: linear-gradient(to right, #ffb24b, #85d5e6);
            
            @media (min-width: 768px) {
                margin: -3px;
            }
        }

        p {
            text-align: justify;

            &:last-child {
                margin-bottom: 0;
            }
        }

        .orange {
            color: #ffb24b;
        }
    }
}

#fixed-button {
    display: none;
    z-index: 100;
    position: fixed;
    right: -64px;
    top: 30%;
    transform: rotate(90deg);
    padding: 5px 15px;
    background-color: $yellow_orange;
    color: $background;
    font-size: 18px;
    font-weight: 500;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border: none;

    &:hover {
        box-shadow: 0px 0px 20px 0px rgb(245 166 35 / 50%);
    }

    @media (min-width: 1200px) {
        top: 40%;
        font-size: 28px;
        padding: 5px 20px;
        right: -105px;
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
    }
}