header {
    max-width: 1440px;
    margin: auto;
    position: relative;

    .navigation {
        display: flex;
        padding: 0 12px;

        @media (min-width: 768px) {
            padding: 0 20px;
        }

        @media (min-width: 1200px) {
            padding: 0 70px;
        }

        &__logo {
            z-index: 100;
            margin-top: 10px;
            height: 30px;

            @media (min-width: 768px) {
                height: 40px;
                margin-top: 15px;
            }

            @media (min-width: 1200px) {
                height: unset;
                margin-top: 20px;
            }
        }

        &__menu {
            z-index: 100;
            position: absolute;
            margin-top: 10px;
            right: 15px;

            @media (min-width: 768px) {
                display: none;
            }
        }

        nav {
            background: $background;
            display: none;
            flex-direction: column;
            width: 200px;
            z-index: 101;
            position: absolute;
            right: 0;
            border-bottom-left-radius: 5px;
            box-shadow: 0px 0px 20px 0px #0d6efd66;

            @media (min-width: 768px) {
                display: flex;
                align-items: center;
                flex-direction: row;
                margin-left: 100px;
                box-shadow: none;
                border-radius: unset;
                width: unset;
                background: unset;
                right: unset;
            }

            .nav__close {
                font-size: 20px;
                padding: 10px 20px;

                @media (min-width: 768px) {
                    display: none;
                }
            }

            .nav__link {
                text-decoration: none;
                color: #fff;
                font-weight: 700;
                margin: 15px 20px;
                font-size: 12px;

                @media (min-width: 768px) {
                    margin: 15px 10px;
                    padding: 10px 20px;
                    font-size: 15px;
                }

                @media (min-width: 1200px) {
                    padding: 10px 43px;
                    font-size: 20px;
                }

                &:hover {
                    .before {
                        height: 3px;
                        width: 0;
                        background: linear-gradient(
                            90deg,
                            rgba(128, 159, 254, 0.85) 0%,
                            rgba(125, 228, 255, 0.81) 55.21%,
                            rgba(99, 199, 255, 0.9) 93.75%
                        );
                        position: absolute;
                        bottom: 20px;
                    }
                }
            }

            .nav__link:nth-child(2):hover .before {
                animation: myanimate2 0.3s ease;
                width: 100px;
            }

            .nav__link:nth-child(3):hover .before {
                animation: myanimate3 0.3s ease;
                width: 118px;
            }

            .nav__link:nth-child(4):hover .before {
                animation: myanimate4 0.3s ease;
                width: 75px;
            }
            .nav__link:nth-child(5):hover .before {
                animation: myanimate5 0.3s ease;
                width: 55px;
            }
            .nav__link:nth-child(6):hover .before {
                animation: myanimate6 0.3s ease;
                width: 77px;
            }
        }

        nav.open {
            display: flex;
            animation: truottruot 0.2s ease;
        }
    }

    .banner {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        z-index: 1;

        .banner__img {
            width: 100%;

            @media (min-width: 1200px) {
                width: 100%;
            }
        }

        .banner__info {
            position: absolute;
            top: 60%;
            transform: translateY(-50%);
            left: 15px;

            @media (min-width: 1200px) {
                left: 30px;
            }

            &--text:first-child {
                font-size: 13px;
                font-weight: 600;

                @media (min-width: 768px) {
                    font-size: 24px;
                }

                @media (min-width: 1200px) {
                    font-size: 36px;
                }
            }

            &--text:nth-child(2) {
                font-size: 23px;
                font-weight: 800;
                text-shadow: 0 0 10px #dadae2;

                @media (min-width: 768px) {
                    font-size: 45px;
                }

                @media (min-width: 1200px) {
                    font-size: 80px;
                }
            }

            &--text:nth-child(3) {
                font-size: 14px;
                font-weight: 600;

                @media (min-width: 768px) {
                    font-size: 26px;
                }

                @media (min-width: 1200px) {
                    font-size: 42px;
                }
            }

            button {
                padding: 3px 10px;
                margin: 10px 0 0 10px;
                background-color: $yellow_orange;
                color: $background;
                font-size: 10px;
                font-weight: 500;
                border-radius: 10px;
                border: 2px solid $yellow_orange;

                &:hover {
                    box-shadow: 0px 0px 20px 0px rgb(245 166 35 / 70%);
                    color: $yellow_orange;
                    background: $background;
                }

                @media (min-width: 768px) {
                    font-size: 18px;
                    padding: 3px 20px;
                    margin: 50px 0 0 50px;
                }

                @media (min-width: 1200px) {
                    font-size: 30px;
                    padding: 3px 20px;
                    border-radius: 15px;
                    margin: 120px 0 0 120px;
                }
            }
        }

        .banner__btn-scroll-down {
            position: absolute;
            bottom: -15px;
            left: 50%;

            i {
                transform: scaleX(1.4);
                color: #85d5e6;
                font-size: 20px;
                position: relative;
                animation: nhaynhay 1.5s ease infinite;

                @media (min-width: 768px) {
                    font-size: 25px;
                }

                @media (min-width: 1200px) {
                    font-size: 30px;
                }
            }
        }
    }
}

@keyframes nhaynhay {
    from {
        top: 0;
        text-shadow: 0 0 10px rgba(133, 213, 230, 0%);
    }
    to {
        top: 15px;
        text-shadow: 0 0 10px rgba(133, 213, 230, 100%);
    }
}

@keyframes truottruot {
    from {
        opacity: 0;
        transform: translateX(100%);
    }
    to {
        opacity: 1;
        transform: translateX(0%);
    }
}

@keyframes myanimate2 {
    from {
        width: 0px;
    }
    to {
        width: 100px;
    }
}

@keyframes myanimate3 {
    from {
        width: 0px;
    }
    to {
        width: 118px;
    }
}

@keyframes myanimate4 {
    from {
        width: 0px;
    }
    to {
        width: 75px;
    }
}
@keyframes myanimate5 {
    from {
        width: 0px;
    }
    to {
        width: 55px;
    }
}
@keyframes myanimate6 {
    from {
        width: 0px;
    }
    to {
        width: 77px;
    }
}
