header {
    max-width: 1440px;
    margin: auto;
    position: relative;

    .navigation {
        display: flex;
        padding: 0 12px;

        @media (min-width: 768px) {
            padding: 0 20px;
        }

        @media (min-width: 1200px) {
            padding: 0 70px;
        }
 
        &__logo {
            z-index: 100;
            margin-top: 10px;
            height: 30px;

            @media (min-width: 768px) {
                height: 40px;
                margin-top: 15px;
            }

            @media (min-width: 1200px) {
                height: unset;
                margin-top: 20px;
            }
        }

        nav {
            display: none;
            margin-left: 50px;
            z-index: 100;

            @media (min-width:768px) {
                display: flex;
                align-items: center;
            }

            .nav__link {
                
                text-decoration: none;
                color: #fff;
                font-weight: 700;

                @media (min-width: 768px) {
                    padding: 10px 20px;
                    font-size: 15px;
                }

                @media (min-width: 1200px) {
                    padding: 10px 35px;
                    font-size: 20px;
                }

                &:hover {
                    opacity: 0.8;
                }
            }
        }
    }

    .banner {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        z-index: 1;

        .banner__img {
            width: 100%;

            @media (min-width:1200px) {
                width: unset;
            }
        }

        .banner__info {
            position: absolute;
            top: 60%;
            transform: translateY(-50%);
            left: 15px;

            @media (min-width:1200px) {
                left: 30px;
            }

            &--text:first-child {
                font-size: 13px;
                font-weight: 200;

                @media (min-width: 768px) {
                    font-size: 24px;
                }

                @media (min-width:1200px) {
                    font-size: 36px;
                }
            }

            &--text:nth-child(2) {
                font-size: 23px;
                font-weight: 800;
                text-shadow: 0 0 10px #dadae2;

                @media (min-width: 768px) {
                    font-size: 45px;
                }

                @media (min-width: 1200px) {
                    font-size: 80px;
                }
            }

            &--text:nth-child(3) {
                font-size: 14px;
                font-weight: 600;

                @media (min-width: 768px) {
                    font-size: 26px;
                }

                @media (min-width: 1200px) {
                    font-size: 42px;
                }
            }

            button {
                padding: 3px 10px;
                margin: 10px 0 0 10px;
                background-color: $yellow_orange;
                color: $background;
                font-size: 10px;
                font-weight: 500;
                border-radius: 10px;
                border: none;

                @media (min-width: 768px) {
                    font-size: 18px;
                    padding: 5px 20px;
                    margin: 50px 0 0 50px;
                }

                @media (min-width:1200px) {
                    font-size: 32px;
                    padding: 5px 20px;
                    border-radius: 15px;
                    margin: 120px 0 0 120px;
                }
            }
        }

        .banner__btn-scroll-down {
            position: absolute;
            bottom: -15px;
            left: 50%;

            i {
                text-shadow: 0 0 10px #85d5e6;
                transform: scaleX(1.4);
                color: #85d5e6;
                font-size: 20px;

                @media (min-width:1200px) {
                    font-size: 25px;
                }

                @media (min-width:1200px) {
                    font-size: 30px;
                }
            }
        }
    }
}
