.partner--title {
    img {
        margin: 30px auto;
        display: block;
        height: 30px;

        @media (min-width: 768px) {
            height: 50px;
        }

        @media (min-width: 1200px) {
            height: unset;
            margin: 50px auto;
            &:hover {
                transform: scale(1.1);
                filter: drop-shadow(10px 10px 10px rgba(245, 166, 35, 0.4));
            }
        }
    }
}

.container-partner {
    width: 100%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

    @media (min-width: 768px) {
        justify-content: space-around;
    }

    @media (min-width: 1200px) {
        width: 1000px;
    }

    img {
        max-height: 40px;
        max-width: 130px;
        object-fit: contain;
        margin-top: 20px;

        @media (min-width: 768px) {
            max-height: 50px;
            max-width: 175px;
            margin: 15px;
        }

        @media (min-width: 1200px) {
            max-height: 70px;
            max-width: 200px;
            margin: 30px;
        }
    }
}
